---
import { ViewTransitions } from "astro:transitions";
import "@/global.scss";

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string | undefined;
	notFound?: boolean;
	schema?: unknown[];
}

const {
	title,
	description,
	ogType = "article",
	ogImage = `${Astro.site}default-ogp.png`,
	notFound = false,
	schema = []
} = Astro.props;
export const serviceTitle = "彩季.wtf";
const pageTitle = title === undefined ? serviceTitle : `${title} | ${serviceTitle}`;
const pageDescription = description ?? "彩季っぽいな";

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");

const baseSchema = {
	"@context": "https://schema.org",
	"@type": "WebSite",
	name: `${serviceTitle}`,
	alternateName: serviceTitle,
	description: pageDescription,
	url: Astro.site
};

const schemaList = [...schema, baseSchema];
---

<!doctype html>
<html lang="ja" transition:animate="fade">
	<head prefix="og: http: ogp.me ns#">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={pageDescription} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<meta property="og:url" content={`${Astro.site}${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={title ?? serviceTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:site_name" content="Aki Coffee" />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Akime_Aki" />
		<meta name="twitter:title" content={title ?? serviceTitle} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
		{schemaList.map((schema) => <script type="application/ld+json" is:inline set:html={JSON.stringify(schema)} />)}
		{!notFound && <link rel="canonical" href={`${Astro.site}${path}`} />}
		<link rel="icon" href="/favicon.ico" />
		<title>{pageTitle}</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
